body {
    background: pink;
}

.login_div1,
.login_div2 {
    background: white;
    padding: 10px;
    float: none;
    border-radius: 15px;
}

#player1_name,
#player2_name {
    display: inline-block;
    margin-left: 20px;
}
.btn-primary{
    background-color: gray;
    border-radius: 100px;
    box-shadow: 5px 5px 10px black;
}